@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600;700&display=swap');



*{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ----------------------------------------------------------------------------- */ 
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(10, 162, 233); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 50px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
  

/* ----------------------------------------------------------------------------- */

.nav-link{
    color:white;
    font-weight: 600;

}

.nav-link:hover{
    color:white;
    font-weight: 600;
    border: 1px solid rgb(10, 162, 233);
}

.navbar-brand{
    color:rgb(10, 162, 233);
    font-size: 60px;
    font-weight: 800;
    font-family: 'Cookie', cursive;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: black ;*/
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  li a:hover {
    background-color:rgb(10, 162, 233);
    border-radius: 5px;
}

/* Style the submit button */
form.d-flex button {
    float: left;
    width: 30%;
    padding: 11px;
    background: rgb(10, 162, 233);
    color: white;
    font-size: 11px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

form.d-flex button:hover {
    background:rgba(87, 84, 84, 0.774);
    color: white;
    border: 1px solid grey;
}


/* --------------------------------------------------------------------------------------- */


.carousel-caption{
    position: absolute;
    top: 55%;
    transform: translateY(-80%);
    left: -8%;
}

.carousel-caption h1{
    font-family: 'Cinzel', serif;    
    font-size: 5vw;
    font-weight: 400;
    color: black;
}

.carousel-caption p{
    font-size: 4vw;
    color:black;
    font-weight: bold;
}

.btn0{
    border-radius: 5px;
    background-color: red;
    height: 45px;
    width: 150px;
    color: white;
    outline: none;
    border: none;

}

.btn0:hover{
    background-color: white;
    color:red;
    transition: 0.3s;

}

/* ----------------------------------------------------------------------------------------- */

.collection span{
    color: rgb(10, 162, 233) ;
    font-size: 25px;
    font-weight: 800;
    padding-left: 5px;
}

.collection input{
    position: absolute;
    height: 45px;
    width: 110px;
    background-color: rgb(10, 162, 233);
    color: white;
    border-radius: 5px;
    outline: none;
    border: none;
    text-align: center;
    top: 35%;
    left: 30%;
    opacity: 0;
}

.collection .card:hover input{
    opacity: 1;
    transition: 1s;
}

.collection input:hover{
    background-color: gray;
    transition: 0.5s;
}


/* ------------------------------------------------------------------------------------------------- */
.parallex{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(./img28.jfif) no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    width: 100%;
}

.parallex h1{
    font-size: 60px;
    font-weight: 700;
}

.parallex p{
    font-size:25px;


}

.btn2{
    height: 40px;
    width: 110px;
    background: transparent;
    border: 2px solid white;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
}

.btn2:hover{
    background-color: white;
    color: rgb(10, 162, 233);
    transition: 0.3s;
}

.btn3{
    height: 40px;
    width: 110px;
    background-color: white;
    outline: none;
    border: none;
    color: rgb(10, 162, 233);
    border-radius: 5px;
}

.btn3:hover{
    background-color: rgb(10, 162, 233);
    color: white;
    border: none;
    outline: none;
    transition: 0.3s;
}

/* --------------------------------------------------------------------------------------------------------------------- */

.contact input{
    height: 50px;
    width: 100%;
    outline: none;
    border: none;
    color: grey;
    background-color: white;
    padding: 10px;
    -webkit-box-shadow: 0px 2px 21px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 21px -8px rgba(0,0,0,0.75);
box-shadow: 0px 2px 21px -8px rgba(0,0,0,0.75);
}

.btn4{
    height: 45px;
    width: 50%;
    background-color: rgb(10, 162, 233);
    color: white;
    outline: none;
    border:none;
    cursor: pointer;
    display: inline-block;
}

/* --------------------------------------------------------------------------------------------------------------------- */

@media(max-width:992px){
    .navbar-toggler{
      margin: 10px 0px 10px 30px;   
      background-color: rgb(10, 162, 233);
    }
    .navbar-toggler:hover ,.navbar-toggler:focus{
        background-color:black;
        border-color:grey;
    }
    .navbar-light{
        background-color: #fff;
    }
    .navbar-nav li a{
        text-align: center;
        background-color: black;
    }
    .navbar-nav li a:hover{
        background-color:grey ;
        border-color:white;
    }
}